@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,700;1,300&family=Poppins:wght@300;400;600&display=swap');

*
/* For mobile phones: */
@media only screen and (max-width: 480px) 
{
 .container {
    width: 90%;
    margin: 0 auto;
 }
}

/* For tablets: */
@media only screen and (min-width: 481px) and (max-width: 768px) {
 .container {
    width: 80%;
    margin: 0 auto;
 }
}

/* For desktops: */
@media only screen and (min-width: 769px) {
 .container {
    width: 70%;
    margin: 0 auto;
 }
}

{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: black;
    color: white;
    padding: 12px 3px;
    display: flex;
    justify-content: space-between;
   
}

.logo{
    margin: 0 23px;
    font-weight: 800;
    font-size: 25px;
    cursor: pointer;
    padding-left: 40px;
}

table, td, tr,th{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px 13px;
}

.container {
    max-width: 80vw;
    margin: 23px auto;
}

h1, h2, h3 {
    margin: 23px 0;
}

.btn{
    padding: 8px 17px;
    background: black;
    color: white;
    font-weight: 900;
    border: 2px solid gray;
    border-radius: 8px;
    margin: 25px 0;
    cursor: pointer;
}

.btnsm{ 
    padding: 8px 17px;
    background: black;
    color: white;
    font-weight: 900;
    border: 2px solid gray;
    border-radius: 8px; 
    cursor: pointer;
}

img{
    cursor: pointer;
    position: relative;
    bottom: 7px;
    width: 15px;
    height: 13px;
}

#alert{
    display: none;
}

.requirement-list li {
    list-style: none;
    font-size: 0.8rem;
}
.requirement-list li i {
    width: 20px;
    color: #aaa;
    font-size: 0.6rem;
}
.requirement-list li.valid i {
    font-size: 1rem;
    color: #4285F4;
  }
